.buttons {
    height: 50px;
    width: 50px;
}

#inputField {
    width: 200px;
    margin-bottom: 20px;
    text-align: right;
}

.header {
    margin-top: 100px;
}

.calc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 60vh;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.theApp {
    border: 2px solid black;
    padding: 20px;
}